*.suo
*.sln.cache
*.log
*/Debug
*/Release
moc_*.cpp
*.apk
*.ap_
*.dex
*.class
*.so
*.exp
*.pdb
*.ilk
*.sdf
bin/
gen/
ipch/
obj/
sln/
*.obj
.history/
.refactorings/
.history
lint.xml
.metadata/
*.prefs
build*/
